@font-face {
    font-family: 'Outfit';
    src: url('assets/font/Outfit-VariableFont_wght.ttf');
}

:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
}

.text-preset-1 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: var(--slate-900);
}

.text-preset-2 {
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.013rem;
    text-align: center;
    color: var(--slate-500)
}

body {
    background-color: var(--slate-300);
    /* for demonstration only to match design */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1.5rem;
    padding: 1rem 1rem 2.5rem 1rem;
}

.img-banner img {
    border-radius: .625rem;
    width: 18rem;
    height: 18rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.attribution { font-size: 11px; text-align: center; background-color: white; position: absolute; bottom: 0;}
    .attribution a { color: hsl(228, 45%, 44%); }